<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div>
    <h1>Clients</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <a href="/client/add">Add new client</a>
    </div>
    <div>
        <table>
            <caption>Clients</caption>
            <thead>
            <tr>
                <th>Client`s name</th>
                <th>Group`s name</th>
                <th>Contact phone</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <th><a th:href="@{'/client/' + ${client.id}}"
                       th:text="|${client.lastname} ${client.firstname}|">client`s name</a></th>
                <th th:text="${client.groupReadDto.fullname}">Group`s name</th>
                <th th:text="${client.parentPhone}">Phone</th>
                <th th:text="${client.birthday}">Birthday</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>