<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add group data</title>
</head>
<body>
<div>
    <h1>Add group data</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <form action="/group/add" method="post">
            <label for="name">Name:</label>
            <input type="text"
                   id="name"
                   name="name">
            <br>

            <label for="teacher">Teacher:</label>
            <select name="teacherId">
                <option id="teacher"
                        th:each="teacher : ${teachers}"
                        th:value="${teacher.id}"
                        th:text="|${teacher.lastname} ${teacher.firstname}|">Teacher name
                </option>
            </select>
            <br>

            <button type="submit">Send</button>
        </form>

    </div>
</div>
</body>
</html>