<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add teacher</title>
</head>
<body>
<div>
    <h1>Add teacher</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <form action="/teacher/add" method="post">
            <label for="firstname">First name:</label>
            <input type="text"
                   id="firstname"
                   name="firstname">
            <br>

            <label for="lastname">Last name:</label>
            <input type="text"
                   id="lastname"
                   name="lastname">
            <br>

            <label for="middlename">Middle name:</label>
            <input type="text"
                   id="middlename"
                   name="middlename">
            <br>

            <label for="birthday">Birthday:</label>
            <input type="date"
                   id="birthday"
                   name="birthday">
            <br>

            <label for="passport">Series and number of the passport:</label>
            <input type="text"
                   id="passport"
                   name="passport">
            <br>

            <label for="authority">Authority:</label>
            <input type="text"
                   id="authority"
                   name="authority">
            <br>

            <label for="dateOfIssue">Date of issue:</label>
            <input type="date"
                   id="dateOfIssue"
                   name="dateOfIssue">
            <br>

            <label for="taxNumber">Tax number:</label>
            <input type="text"
                   id="taxNumber"
                   name="taxNumber">
            <br>

            <button type="submit">Send</button>
        </form>

    </div>
</div>
</body>
</html>