<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div>
    <h1>Teachers</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <form action="/" method="post">
            <label for="firstname">First name:</label>
            <input type="text"
                   id="firstname"
                   name="firstname">
            <br>

            <label for="lastname">Last name:</label>
            <input type="text"
                   id="lastname"
                   name="lastname">
            <br>

            <label for="middlename">Midle name:</label>
            <input type="text"
                   id="middlename"
                   name="middlename">
            <br>

            <label for="birthday">Birthday:</label>
            <input type="date"
                   id="birthday"
                   name="birthday">
            <br>

            <label for="passport">Series and number of the passport:</label>
            <input type="text"
                   id="passport"
                   name="passport">
            <br>

            <label for="authority">Authority:</label>
            <input type="text"
                   id="authority"
                   name="authority">
            <br>

            <label for="dateOfIssue">Date of issue:</label>
            <input type="date"
                   id="dateOfIssue"
                   name="dateOfIssue">
            <br>

            <label for="taxNumber">Tax number:</label>
            <input type="text"
                   id="taxNumber"
                   name="taxNumber">
            <br>

            <button type="submit">Send</button>
        </form>

    </div>
    <div>
        <table>
            <caption>Teachers</caption>
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Middle name</th>
                <th>Birthday</th>
                <th>Passport</th>
                <th>Authority</th>
                <th>Date of issue</th>
                <th>Tax number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <th th:text="${teacher.firstname}">First name</th>
                <th th:text="${teacher.lastname}">Last name</th>
                <th th:text="${teacher.middlename}">Middle name</th>
                <th th:text="${teacher.birthday}">Birthday</th>
                <th th:text="${teacher.passport}">Passport</th>
                <th th:text="${teacher.authority}">Authority</th>
                <th th:text="${teacher.dateOfIssue}">Date of issue</th>
                <th th:text="${teacher.taxNumber}">Tax number</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>