<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div>
    <h1>Teachers</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <a href="/teacher/add">Add new teacher</a>
    </div>
    <div>
        <table>
            <caption>Teachers</caption>
            <thead>
            <tr>
                <th>Teacher`s name</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <th><a th:href="@{'/teacher/' + ${teacher.id}}"
                       th:text="|${teacher.lastname} ${teacher.firstname} ${teacher.middlename}|">Teacher`s name</a></th>
                <th th:text="${teacher.birthday}">Birthday</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>