<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<div>
    <h1>Teacher</h1>
    <div th:insert="~{parts/menu :: menu}"></div>
    <div>
        <p>First name: <span th:text="${teacher.firstname}">Firstname</span></p>
        <p>Last name: <span th:text="${teacher.lastname}">Firstname</span></p>
        <p>Middle name: <span th:text="${teacher.middlename}">Firstname</span></p>
        <p>Birthday: <span th:text="${teacher.birthday}">Firstname</span></p>
        <p>Passport: <span th:text="${teacher.passport}">Firstname</span></p>
        <p>Authority: <span th:text="${teacher.authority}">Firstname</span></p>
        <p>Date of issue: <span th:text="${teacher.dateOfIssue}">Firstname</span></p>
        <p>Tax number: <span th:text="${teacher.taxNumber}">Firstname</span></p>
    </div>
    <div>
        <form th:action="@{'/teacher/' + ${teacher.id} + '/edit'}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form th:action="@{'/teacher/' + ${teacher.id} + '/delete'}" method="post">
            <button type="submit">Delete</button>
        </form>
        <form action="/teachers" method="get">
            <button type="submit">Go to Teachers</button>
        </form>
    </div>
</div>
</body>
</html>