<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div>
    <div th:fragment="menu">
        <ul>
            <li>
                <a href="/main">Main page</a>
            </li>
            <li>
                <a href="/journal">Journal</a>
            </li>
            <li>
                <a href="/crane">Crane</a>
            </li>
            <li>
                <a href="/strength_of_materials">Strength Of Materials</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>